
/* body{
    width: 200px;
}
p {
    position: relative;
    line-height: 1.5em;
    
    height: 3em;
    overflow: hidden;
  }
  
  p:after {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
  } 
 */



  .div1 {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: pink; /*方便看效果*/
  }